{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "eslint:recommended",
    "plugin:import/typescript",
    "plugin:import/warnings",
    "plugin:json/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "@typescript-eslint",
    "json",
    "import",
    "tsdoc",
    "prettier",
    "eslint-plugin-import-alias"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "off",
    "semi": "warn",
    "no-unused-vars": "off",
    "no-void": "off",
    "radix": "off",
    "camelcase": "off",
    "tsdoc/syntax": "warn",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/prefer-default-export": "off",
    "import/no-cycle": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "parent", "sibling", "internal"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "global-require": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/naming-convention": [
      "warn",
      {
        "selector": "default",
        "format": ["camelCase", "PascalCase", "UPPER_CASE"],
        "leadingUnderscore": "allow",
        "filter": {
          "regex": "^(__typename|__html|__ref|__esModule)$",
          "match": false
        }
      },
      { "selector": "enum", "format": ["UPPER_CASE"] }
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars-experimental": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": ["error"],
        "no-undef": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  },
  "env": {
    "es6": true,
    "jest": true,
    "browser": true
  },
  "globals": {
    "EventListener": "readonly"
  }
}
